*{  /*styles the whole sheet */
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

*::selection {                                  /* selection is when the user highlights. because we used * this applies to anywhere on the page so when the user highlights the background becomes blue and the text white */
    color: white;
    background-color: #1182eb;
}

body{
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

header{
    text-align: center;
    height: 80px;
    padding: 40px; /*this sits around contnet and creates space between it and any border */
    color: rgb(94, 92, 89);

    /*creating a border and margin examples
    border: 4px solid red;            define size of border , style eg solid or dashed and then colour. Sits around the padding)*
    margin: 40px;                     this creates space between the border and other content */
}

header h1 { /*taking h1 inside the header and add stlye on top / specific to what is required for h1*/
    font-size: 40px;
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;            /*this curves the border*/
    text-align: center;
    padding: 20px;
    background-color: white;
    color: midnightblue;
    box-shadow: 5px 5px 5px 5px lightgray;  /* moves 5px to the right 5px down opacity (see through) and blur changing the first 2 to -5px -5px would move to the right and up current colour would keep the box shadow the same colour as the main text*/
    opacity: 0.5;
    transition: opacity 0.3s ease;   /* when the opacity changes (by the hovr below) we determine the trnsition. making it gradual over 3 seconds */
}  

.card:hover {                        /*this will find the class of card and apply a stlye when the browser hovers over the element (in this car it will change the opacity to 1 when any of the idenitifed cards are hovered over */
    opacity: 1;
}
.card img {                                    /*to access a class use a . */
    margin: 10px;
    min-height: 300px;
    border-radius: 30px;
}

h2, h3, h4, h5, h6 {
    text-decoration: underline;
    font-size: 30px ;
}

#penelope-list {                                /*to acess an id use a #*/
    list-style-type: none;                      /*removes the bullet points from the list */
}

li:hover {
    color: #1182eb;                            /*when we hover over the list the items will change colour to that defined.*/
}
span {
    font-size: 1.5em;                           /*em will make it 1.5 x the size of the font size of the tag it sits inside. */
    color: #b48ce0;
}