*{  /*styles the whole sheet */
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

*::selection {         /* changing style when user highlights any content */
    color: white;
    background-color: #1182eb;
}

body{
    background-color: white;
    max-width: 1400px;
    margin: auto;
    padding: 10px;
}

nav{  
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

#nology{
    background-color: green; /* Background color to green */
    color: white;
    margin: 0;
    padding: 10px;
  }

.link {
    padding: 10px;
}
.panel {
    width: auto;
    height: auto;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    background-color: white;
    color: black;
}  

.panel span p {
    text-align: justify;
    font-size: 14px;
    padding: 10px;

}

.panel h1, .panel h2, .panel h3, .panel h4 {
    font-size: 16px ;
}

.panel ul {
    font-size: 14px;
    margin: 10px; /* Reset margin to remove default space */
    padding: 0; /* Reset padding to remove default space */
    padding-left: 40px; /* Add padding to move bullets to the right */
}

.panel ul li {
    list-style-type: disc; /* Set the desired list style type */
    margin-bottom: 5px; /* Add some space between list items */
}

/* not finished yet
.flex-container-one {
height: 1400px;
justify-content: flex-end;
align-items: center ;
flex-wrap: wrap;
} */