*{  /*styles the whole sheet */
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

body{
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

header{
    text-align: center;
    height: 80px;
    padding: 40px; /*this sits around contnet and creates space between it and any border */
    color: rgb(94, 92, 89);

    /*creating a border and margin examples
    border: 4px solid red;            define size of border , style eg solid or dashed and then colour. Sits around the padding)*
    margin: 40px;                     this creates space between the border and other content */
}

header h1 { /*taking h1 inside the header and add stlye on top / specific to what is required for h1*/
    font-size: 40px;
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;            /*this curves the border*/
    text-align: center;
    padding: 20px;
    background-color: white;
    color: midnightblue;
    box-shadow: 5px 5px 5px 5px lightgray;  /* moves 5px to the right 5px down opacity (see through) and blur changing the first 2 to -5px -5px would move to the right and up current colour would keep the box shadow the same colour as the main text*/
}  

.card img {                                    /*to access a class use a . */
    margin: 10px;
    min-height: 300px;
    border-radius: 30px;
}

h2, h3, h4, h5, h6 {
    text-decoration: underline;
    font-size: 30px ;
}

#penelope-list {                                /*to acess an id use a #*/
    list-style-type: none;                      /*removes the bullet points from the list */
}

span {
    font-size: 1.5em;                           /*em will make it 1.5 x the size of the font size of the tag it sits inside. */
    color: #b48ce0;
}