@use "./variables" as *;

.button{
    display: block;
    width: 100px;
    background-color: $color-secondary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-white;
}

.navigation {
    height: 10vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

/*nesting styling for the class logo inside the class navigation*/
    .logo{
        color: $color-white;
        font-size: 20px;
        font-family: $font-display;
    }
}

   
.intro {
    text-align: center;

    .heading {
        color: $color-primary;
        font-size: 50px;
    }

    .sub-heading {
        font-family: $font-display;
        font-size: 25px;
        margin: 20px 0;
    }

    .button {
        margin: 0 auto;
    }
}


.contact-form {
        /* to add a border around the form border: 2px solid;  */
        padding: 20px; /* Padding inside the form */
        width: 300px; /* Set width of the form */
        margin: 0 auto; /* Center the form horizontally */
        display: flex;
        flex-direction: column; /*to stack on top */
        align-items: flex-start; /*to stack from the top */
        border-radius: 20px; /* to round the edges */
        background-color: $color-white;
        color: $color-primary;

        .label {
            font-size: 20px;
                width: 100%; /* Make input fields fill the width of the form */
                margin-bottom: 5px; /* Add space between label and input fields */
        }

        .input {
            width: 100%;
            height: 30px;
            margin-bottom: 10px; /*add space between input field and next label */
            cursor: pointer; /* Change cursor to pointer on hover */
        }

        .submit-button {
            background-color: $color-submit;
            width: 100%; /* make button width of the form */
            padding: 10px; /*padding - space between text and edge of buttton */
            margin-top: 10px; /*adding more space between above the button */
            font-size: 20px;
            color: $color-white;
            border: none; /*removes border line */
            border-radius: 10px;
        }
}

.wave {
    fill-opacity: 1;
    fill: $color-primary;
    margin-bottom: -1px;
    vertical-align: bottom;
    
}