@use "./variables" as * ;
@use "./components" ;
@use "./layouts" ;

/*applying styling to the whole sheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
}

/*removing the underline of the link and when it has been visited (the coma applies it to both */
a:link,
a:visited {
    text-decoration: none;
}
